@charset "utf-8";
header div img, .basket {display: none !important;}

.sideBar {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
  }

  .navi {width: 65vw;}
  .navi a {font-size: 3rem;}
  .subMenu a {font-size: 2.5rem;}

  header div img {height: 5vw;}

  .bar p {padding: unset;
}

  .shop {padding-left: 10vw;}
  .shop>li>a span{display: none;}
  .shop ul li {padding-top: 0.5vh;}

  footer {padding: 0 30px 30px 30px;}
  footer > div {flex-direction: column;}
  footer > div > div {
    width: 100%;  
    gap: 3vw;
  }
  footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9vw;
    height: fit-content;
    padding: 30px 0;
    width: 100%;
    border-bottom: 1px solid #0000002a;
    margin-bottom: 30px;
  }

  .con {gap: 10px}